
//
// Copyright 2016 Kary Foundation, Inc.
//   Author: Pouya Kary <k@karyfoundation.org>
//

//
// ─── IMPORT ─────────────────────────────────────────────────────────────────────
//

    @import '../../globals';

//
// ─── MAIN TABS VIEW ─────────────────────────────────────────────────────────────
//

    #header-tabs {
        margin-left: 20px;
        float: left;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        width: @toolbar-tabs-width;
        height: 48px;
    }

//
// ─── EDITORS TAB ────────────────────────────────────────────────────────────────
//

    .editor-tab {
        background-image: url('toolbar-tabs-editor.png');
    }

// ────────────────────────────────────────────────────────────────────────────────