
//
// Copyright 2016 Kary Foundation, Inc.
//   Author: Pouya Kary <k@karyfoundation.org>
//

//
// ─── IMPORTS ────────────────────────────────────────────────────────────────────
//

    @import '../../libs/kary-scheme';

//
// ─── CONTROLLER MAIN ────────────────────────────────────────────────────────────
//

    .algorithm-controller {
        background: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 17px 20px 10px 20px;
        margin: 40px 0 0 40px;
        float: left;
        width: 270px;
        clear: right;
    }

//
// ─── TITLE ──────────────────────────────────────────────────────────────────────
//

    .algorithm-controller-title {
        color: @kary-light-magenta;
        font-size: 1.8rem;
    }

//
// ─── AUTHOR ─────────────────────────────────────────────────────────────────────
//

    .algorithm-controller-author {
        color: @kary-light-blue;
        font-size: 13px;
        padding: 5px 0 10px 0;
    }

//
// ─── DESCRIPTION ────────────────────────────────────────────────────────────────
//

    .algorithm-controller-description {
        color: @kary-light-foreground;
        font-size: 13px;
        line-height: 1.3;
    }

//
// ─── RUN BUTTON ─────────────────────────────────────────────────────────────────
//

    .algorithm-controller-run-button {
        padding: 8px 40px 7px 40px;
        color: @kary-light-background;
        background: #4CB81B;
        border-radius: 100px;
        width: fit-content;
        margin: 10px 0 10px 0;
        font-size: 14px;
    }

// ────────────────────────────────────────────────────────────────────────────────