<html>
	<head>
		<title>Graph</title>
		<!-- Main Graph Tools -->
		<link rel="stylesheet" href="style.css">
		<script src="core.js"></script>
		<script src="wrappers.js"></script>
		<!-- Prism -->
		<link rel="stylesheet" href="prism.css">
	</head>


	<body>
		<div class="heading" id="toolbar">
			<div id="header-left" class="unselectable">Graph</div>

			<!-- Tabs -->
			<div id="header-tabs" class="editor-tab"></div>

			<div id="editor-tab-invisible" 
				 onclick="KaryGraph.UI.Tabs.EditorTabsOnClick( );">
			</div>

			<div id="programmer-tab-invisible"
				 onclick="KaryGraph.UI.Tabs.ProgrammerTabsOnClick( );">
			</div>

			<!-- Icons -->
			<!--div class="icon icon-active" id="icon-move"
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-move')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-move')">
			</div>
			<div class="icon" id="icon-remove"
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-remove')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-remove')">
			</div>
			<div class="icon" id="icon-edit"
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-edit')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-edit')">
			</div>
			<div class="icon" id="icon-select"
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-select')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-select')">
			</div>

			<div id="status-view"></div-->

			<div id="header-right">
				<img src="kary-logo.png" id="kf-logo">
			</div>

			<div style="clear: both;"></div>
		</div>



		<!-- Ribbon Bar -->
		<div id="ribbon" class="ribbon-editor">
			<!-- Editor Tab Ribbon -->
			<div id="ribbon-editor">
				<div id="ribbon-editor-select-icon" class="ribbon-icon">Select</div>
				<div id="ribbon-editor-connect-icon" class="ribbon-icon">Connect</div>
				<div id="ribbon-editor-remove-icon" class="ribbon-icon">Remove</div>
				<div id="ribbon-editor-add-loop-icon" class="ribbon-icon">Add Loop</div>
				<div style="clear: both;"></div>
			</div>

			<!-- Programmer Tab Ribbon -->
			<div id="ribbon-programmer" hidden="true">
				<div id="ribbon-programmer-run-icon" class="ribbon-icon">Run</div>
				<div style="clear: both;"></div>
			</div>
		</div>




		<!-- Editor View Goes Here -->
		<div id="EditorView" class="tab-view">
			<!--- EDITOR --->
			<svg id="GraphView"></svg>
			<!--- SCRIPT EDITOR --->
			<div id="inspector">
				<!-- Programmer -->
				<div class="inspector-section">
					<div class="inspector-section-title">
						<div class="inspector-section-title-text unselectable">Programmer</div>
						<div style="clear: both;"></div>
					</div>
					<div class="inspector-section-body">
						<div id="ProgrammerNotebook" class="notebook"></div>
					</div>
				</div>
			</div>
		</div>



		<!-- Programmer View -->
		<div id="ProgrammerView" class="tab-view">
			<div id="monaco-placeholder" style="width: 100%; height: 100%;"></div>
		</div>	


		<!-- INIT Common Js parts -->
		<script>
			window.Snap = require('snapsvg');
			var Prism = require('prismjs');
			KaryGraph.INIT();
			var path = require('path');
		</script>


		<div style="clear: both;" class="unselectable"></div>


		<!-- Load Monaco -->
		<script src="vs/loader.js"></script>
		<script src="graph-monaco.js"></script>
		<script>
			GraphInitMonacoOnStart( );
		</script>
	</body>
</html>
