<html>
	<head>
		<title>
			Kary Graph
		</title>
		<link rel="stylesheet" href="style.css">
		<script src="snap.svg.js"></script>
		<script src="core.js"></script>
	</head>
	<body>
		<div class="heading">
			<div id="header-left">
            	Graph
            </div>

			<div class="icon icon-active" id="icon-move" 
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-move')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-move')">
			</div>
			<div class="icon" id="icon-remove" 
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-remove')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()" 
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-remove')">
			</div>
			<div class="icon" id="icon-edit" 
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-edit')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-edit')">
			</div>
			<div class="icon" id="icon-select" 
				 onmouseover="KaryGraph.UI.Toolbar.OnToolbarIconHover('icon-select')"
				 onmouseout="KaryGraph.UI.Toolbar.ClearStuatus()"
				 onclick="KaryGraph.UI.Toolbar.OnIconClick('icon-select')">
			</div>

			<div id="status-view"></div>

            <div id="header-right">
                Kary Foundation
            </div>

            <div style="clear: both;"></div>
		</div>
		
		<svg id="GraphView"></svg>

		<script>
			KaryGraph.INIT();
		</script>
	</body>
</html>
